@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Comfortaa', cursive;
  background-color: #2e77bc;
}

body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}