.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  height: 80px;
  background-color: #9ed9ff;
  background: linear-gradient(to right, #addcf7 , #23ade3);
  border-bottom: 2px solid #fff;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    .content {
      flex: 1;
      height: 100%;
      position: relative;
      &.mid {
        flex: 2;
        padding: 8px;
        height: 80px;
      }
      svg {
        position: absolute;
        height: 70px;
        width: 70px;
        top: 5px;
        left: 5px;
      }
    } 
  }
  .error-bar {
    position: absolute;
    height: 0px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-out;
    .error-msg-container {
      opacity: 0;
      color: #FF4F41;
      font-size: 18px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      transition: all 0.3s ease-out;
      transition-delay: 0.5s;
    }
    &.active {
      height: 80px;
      .error-msg-container {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    height: 40px;
    .container .content svg {
      height: 35px;
      width: 35px;
      top: 2px;
      left: 2px;
    }
    .error-bar {
      &.active {
        height: 30px;
      }
    }
  }
}